@font-face {

  font-family: 'Kanit';
  font-weight: 400;
  src: url('/fonts/kanit-black-webfont.woff2') format('woff2'),
    url('/fonts/kanit-black-webfont.woff') format('woff2');

}

@font-face {

  font-family: 'Kanit';
  font-weight: 300;
  src: url('/fonts/kanit-medium-webfont.woff2') format('woff2'),
    url('/fonts/kanit-medium-webfont.woff') format('woff2');
    
}

@font-face {

  font-family: 'Kanit';
  font-weight: 200;
  src: url('/fonts/kanit-light-webfont.woff2') format('woff2'),
    url('/fonts/kanit-light-webfont.woff') format('woff2');
    
}

* {

  padding: 0;
  margin: 0;

}

#blocker {

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  transition: background-color 3s linear;

}

#instructions {

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  cursor: pointer;
  line-height: 250%;

}

h1 {

  font-family: 'Kanit';
  font-weight: 300;
  color: rgba(50, 50, 50, 1);
  font-size: 5rem;

}

p {

  font-family: 'Kanit';
  font-weight: 200;
  color: rgba(50, 50, 50, 1);
  font-size: 2rem;

}

.nameTag {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
  font-family: 'Kanit';
  font-weight: 300;
  color: rgba(50, 50, 50, 1);
  font-size: 1rem;
}

.loading-bar {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 20%;
  height: 8px;
  background: rgba(50, 50, 50, 1);
  border-radius: 0.1rem;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.5s linear;
}